* {
	margin: 0 auto;
}

body {
	background: #f7f7f7;
}

.login_username {
	line-height: 100px;
}

/*提交按钮*/
.submit_btn {
	background: #e46b57;
	width: 220px;
	height: 40px;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
